In [5]:
#import library name as Pandas used to tables 
import pandas as pd
#we have dump from customer that need to  read file name called read_csv
dataset=pd.read_csv("Book1.csv")

In [6]:
 #To Cross check o/p dataset split
dataset

    Years_of_experience  Salary
0                   1.1   20125
1                   2.0   22525
2                   2.5   24925
3                   3.3   27325
4                   4.0   29725
5                   4.7   32125
6                   5.4   34525
7                   6.1   36925
8                   6.8   39325
9                   7.5   41725
10                  8.2   44125
11                  8.9   46525
12                  9.6   48925
13                 10.3   51325
14                 11.0   53725
15                 11.7   56125
16                 12.4   58525
17                 13.1   60925
18                 13.8   63325
19                 14.5   65725
20                 15.2   68125
21                 15.9   70525

In [27]:
independent=dataset[["Years_of_experience"]]
#bascially we need to intiate variable so RHS to LHS value & To Cross check o/p dataset split
independent

    Years_of_experience
0                   1.1
1                   2.0
2                   2.5
3                   3.3
4                   4.0
5                   4.7
6                   5.4
7                   6.1
8                   6.8
9                   7.5
10                  8.2
11                  8.9
12                  9.6
13                 10.3
14                 11.0
15                 11.7
16                 12.4
17                 13.1
18                 13.8
19                 14.5
20                 15.2
21                 15.9

In [22]:
dependent=dataset[["Salary"]] #bascially we need to intiate variable so RHS to LHS value 
dependent# To Cross check o/p dataset split

    Salary
0    20125
1    22525
2    24925
3    27325
4    29725
5    32125
6    34525
7    36925
8    39325
9    41725
10   44125
11   46525
12   48925
13   51325
14   53725
15   56125
16   58525
17   60925
18   63325
19   65725
20   68125
21   70525

In [31]:
from sklearn.model_selection import train_test_split #use one of library name called sklearn to bring up model selection compare to train to test set
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)#intiate variable X&Y i/p & o/p

In [32]:
from sklearn.linear_model import LinearRegression#library name called sklearn to bring up linear model regression method 
regressor=LinearRegression() #we need to intiate variable so RHS to LHS value
regressor.fit(x_train,y_train)#.fit , call to action model is ready to perform

LinearRegression()

In [50]:
weight=regressor.coef_ #to find the weight function name called .coef_
weight #to run the weight

array([[3413.72553763]])

In [52]:
bias=regressor.intercept_ #to find the bias function name called .intercept_
bias #to run the bias

array([16171.73165776])

In [55]:
y_pred=regressor.predict(x_test) #now the Model is working fine or not 
from sklearn.metrics import r2_score #use library fun to import r2 to check 0 OR 1 
r_score=r2_score(y_test,y_pred) # to predict the model name called as test 
r_score #test o/p

0.9998480223653942

In [58]:
import pickle # to save model called as Pickle libiary
filename="finalized_model_linear.sav" # save the model file name called .sav
pickle.dump(regressor,open(filename, 'wb')) #to intiate save model here to run write binary

In [63]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb')) #to intiate save model here to run read binary

In [66]:
result=loaded_model.predict([[17]]) #loaded the model to show end user or delopment
result

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[74205.06579743]])